
/* Basics */

div, body, canvas, img {
    padding: 0;
    margin: 0;
}
body {
    background: url(../images/background.jpg);
    font-family: "Fira Sans Regular", "Cantarell", "Open Sans", sans-serif;
}

.pm-mainview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Game UI */

#game-ui {
}
#maincanvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Image chooser UI */

#pm-imagechooser {
    overflow-y: scroll;
    background: #fff;
}
#pm-header-main {
    background: #a909a7;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
}
#pm-imagechooser-list {
    padding: 5px;
}
.pm-imagechooser-image {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 33%;
    margin: 0;
    padding: 5px;
    text-align: center;
}
.pm-imagechooser-image img {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
}
.clearfix {
    clear: both;
    float: none;
    display: block;
}

/* Difficulty UI */

#pm-gamedifficulty {
    /*display: none;*/
    background: rgba(0, 0, 0, 0.6);
}
.pm-dialog {
    background: #fff;
    color: #000;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    padding: 15px;
    overflow-y: scroll;
}
.pm-dialog h1 {
    margin: 0;
    padding: 10px;
}



